services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./hungul_lol/app:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: npm start
    stdin_open: true
    tty: true